<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Savior</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <!-- Welcome Banner/Message-->
    <section class="welcome-banner">
        <div class="logo-wrapper">
            <h1><a href="/">Welcome to Code Savior!</a> </h1>
        </div>
    </section>

    <!-- Header/Nav-Bar -->
    <header class="header">
        <nav>
            <ul class="nav-bar">
                {{!-- {{#if loggedIn}} --}}
                <li><a href="/profile">Profile</a></li>
                <button id="logout" class="btn-no-style">Logout</button></li>
                {{!-- {{else}} --}}
                </li><a href="/login">Login</a></li>
                {{!-- {{/if}} --}}
                <li><a href="#">About</a></li>
                <li><a href="#">Future Developments</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    </section>

    <!-- Hero Section/Pick Your Topic Section -->
    <section class="hero">
        <div class="topic-text">
            <p>Choose Your Topic:</p>
        </div>

        <div class="content-options">
            <a href="/html">HTML</a>
            <a href="/css">CSS</a>
            <a href="/js/main">JavaScript</a>
        </div>
        </div>
    </section>

    <div>
        <main>
            {{{ body }}}
        </main>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
<footer class="footer">
    Dedicated to the pursuit of knowledge to better help the world.
</footer>

</html>