<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Savior</title>
    <link rel="stylesheet" href="/public/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Code Savior</a>
            </h1>
            <nav class="nav-bar">
                {{!-- {{#if loggedIn}} --}}
                <a href="/profile">Profile</a>
                <button id="logout" class="btn-no-style">Logout</button>
                {{!-- {{else}} --}}
                <a href="/login">Login</a>
                {{!-- {{/if}} --}}
                <ul>
                    <li>About</li>
                    <li>Future Changes</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>

        <div class="dropdown">
            <p>Choose Your Topic</p>
            <div class="dropdown-content">
                <a href="/html">HTML</a>
                <a href="/css">CSS</a>
                <a href="/js/main">JavaScript</a>
            </div>
        </div>
    </div>
    </div>
    </section>

    <main>
        {{{ body }}}
    </main>
    </div>
    {{!-- {{#if loggedIn}} --}}
    <script src="/javascript/logout.js"></script>
    {{!-- {{/if}} --}}
</body>
<footer class="footer">
    Dedicated to the pursuit of knowledge to better help the world.
</footer>

</html>