<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=“UTF-8">
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0">
    <title>Code Savior</title>
    <link rel=“stylesheet” href=“/stylesheets/style.css”>
</head>

<body>
    <div class=“wrapper”>
        <header>
            <h1>
                <a href=“/”>Code Savior</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href=“/dashboard”>dashboard</a>
                <button id=“logout” class=“btn-no-style”>logout</button>
                {{else}}
                <a href=“/login”>login</a>
                {{/if}} -->
            </nav>
        </header>

        <section class="hero">
            <div class="hero-wrapper">
                <label class="hero-message" for="learning-topic">Choose a topic:</label><br>
                <div class="hero-box">
                    <select name="learning-topic" id="learning-topic">
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="javascript">JavaScript</option>
                    </select>
                </div>
            </div>
        </section>

        <main>
            {{{ body }}}
        </main>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
<footer class="footer">
    Dedicated to the pursuit of knowledge to better help the world.
</footer>

</html>