/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover, a::before, a::after {
    text-decoration: none;
    list-style: none;
}

/* Nav-bar */
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}