<div class="concept-content-wrapper">
  <div class="concept-content">
    <article>
      <h2> Concept &#x1f366; </h2>

      <p>
        The concept of Code Savior is meant to be a place to share study resources
        and take quizzes. We wanted a real website to help us improve our knowledge
        of the materials learned through this program. Users are able to log into
        our site, or sign up and are granted access to a community of developers and
        aspiring developers. Resources have comment, and like functionality, so
        users can use this as a guage to determine the quality of the shared posts.
        Posts also have the url address that opens in another tab so users can enjoy
        reading further on the topic without having to navigate away from the site.
      </p>
    </article>
  </div>
</div>
<br />

<div class="user-story-wrapper">
  <article>
    <div class="user-story">
      <ol> User Story </ol>
      <li> AS A new developer </li>
      <li> I WANT a central hub studying </li>
      <li> SO THAT I may practice for interviews </li>
    </div>
</div>
</article>
<br />

<div class="founders-story-wrapper">
  <article>
    <div class="founders-story">
      <h2> Founder's Story &#x1f366; </h2>
      <p>
        The journey began with three young men that each took it upon themselves to
        change career trajectories. In the middle of the program, one of the
        founders Josh had off-handedly mentioned how materials from bootcampspot
        would not persist long after we graduate. Realizing how unfortunate that
        would be to our continuing efforts to retain all we learned the founders
        thought of a remedy. "If only we had a code savior!" bellowed Michael
        (founder #3) and alas code savior was born.
    </div>
    </p>
  </article>
</div>