<article class="secondary-content">
<h2> Founder Contact Information &#x1f366; </h2>
<br />
<h4> Josh </h4>
<br>
 <p> Github: Josh2100 </p>
<p> Email: jschermann91@gmail.com </p>
<br>  
<h4> Michael Tackett </h4>
<p> Github: Dreameffects </p>
<p> Email: digitalquicksand@gmail.com </p>
<br>
<h4> Nahom </h4>
<p> Github: Nahom-Assefa </p>
<p> Email: nahomassefa95@gmail.com </p>