<link rel="stylesheet" type="text/css" href="/public/styles/style.css">

<div class="contact-wrapper"></div>
<article class="secondary-content">
    <h2> Founder Contact Information &#x1f366; </h2>
    <br />
    <h4> Josh Schermann </h4>
    <p> Github: Josh2100 </p>
    <p> Email: jschermann91@gmail.com </p>
    <br>
    <h4> Michael Tackett </h4>
    <p> Github: Dreameffects </p>
    <p> Email: digitalquicksand@gmail.com </p>
    <br>
    <h4> Nahom Assefa </h4>
    <p> Github: Nahom-Assefa </p>
    <p> Email: nahomassefa95@gmail.com </p>
</article>
</div>