<link rel="stylesheet" type="text/css" href="/styles/style.css">

<div class='main-title'>
    <h1>All Things CSS!</h1>
  <div class='universe-columns'>
    <div class='column'>
      <div class='resources-column'>
        <a href= "/css">View Resources</a>
      </div>
    </div>
    <div class='column'>
      <div class='quiz-column'>
        <a href= "/quiz/css">Take A Quiz</a>
      </div>
    </div>
  </div>
</div>