<link rel="stylesheet" type="text/css" href="/styles/style.css">

<div class='js-main-title'>
    <h1>All Things CSS!</h1>
  <div class='row'>
    <div class='column'>
      <div class='blue-column'>
        <a href= "/css">View Resources</a>
      </div>
    </div>
    <div class='column'>
      <div class='green-column'>
        <a href= "/quiz/css">Take A Quiz</a>
      </div>
    </div>
  </div>
</div>