<article class="secondary-content">
  <h2> Future Developments &#x1f366; </h2>
  <br>
  <ol> How We Plan To Scale </ol>
  <li> Add the ability for users to submit questions </li>
  <li> Add more sub-topics for assessments </li>
  <li> Including in-house content to complement outside resources </li>
  <li>
    Downvoting functionality to let a user know the content they are sharing
    is subpar
  </li>
  <li> Filtering mechanism to curate resources based on a users engagement </li>

</article>