<div class="homepage-message">
  <p>Welcome to Code Savior, a delicious place to share resources and test your
    knowledge. Choose a flavor, JavaScript, HTML, or CSS and dig into this
    Neapolitan paradise of icy brain food &#x1f366;</p>
</div>