<link rel="stylesheet" type="text/css" href="/styles/style.css">

<div class='main-title'>
    <h1>All Things HTML!</h1>
  <div class='universe-columns'>
    <div class='column'>
      <div class='resources-column'>
        <a class= "internal-link" href= "/html">View Resources</a>
      </div>
    </div>
    <div class='column'>
      <div class='quiz-column'>
        <a class="external-link" href= "/quiz/html">Take A Quiz</a>
      </div>
    </div>
  </div>
</div>