<div class="js-quiz-header">
  <h1>HTML Quiz</h1>
</div>

<div id="quiz-body">
  <div class="">
    <br /><br />

    <p class="js-quiz-text">
      Click Start Quiz when you are ready!
    </p>
  </div>

  <div class="js-quiz-start-btn">
    <button id="start-btn" class="">
      Start Quiz
    </button>
  </div>
</div>

<div class='post-text' id="accuracy-indicator"></div>

<script src="/javascript/htmlquiz.js"></script>