<link rel="stylesheet" type="text/css" href="/styles/style.css">

<div class='main-title'>
    <h1>All Things Javascript!</h1>
  <div class='universe-columns'>
       <a href= "/js"><button class="internal-link">View Resources</button></a> 
        <a href= "/quiz/js"><button class="external-link">Take Assessment</button></a>
  </div>
</div>