<link rel="stylesheet" type="text/css" href="/styles/style.css">

<div class='main-title'>
  <h1>All Things JavaScript!</h1>
  <div class='universe-columns'>
    <div class='column'>
      <div class='resources-column'>
        <a href="/js">View Resources</a>
      </div>
    </div>
    <div class='column'>
      <div class='quiz-column'>
        <a href="/quiz/js">Take A Quiz</a>
      </div>
    </div>
  </div>
</div>