<h1>JAVASCRIPT QUIZ</h1>

{{!-- <h2 class="">
          Timer:<span id="countdown" class=""></span>
        </h2> --}}

            <div>
      <label for="countdown">Topic</label>
      <input type="text" id="countdown" name="countdown" />
          <button type="submit" class="btn">Create</button>
    </div>
{{!-- <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
></script> --}}
<script src="/javascript/quiz.js"></script>
