<div class="js-quiz-header">
  <h1>JAVASCRIPT QUIZ</h1>
</div>

<main class="">
  <div class="">
    <br /><br />

    <p class="js-quiz-text
          ">
      Click Start Quiz when you are ready!
    </p>
  </div>

  <div class="js-quiz-start-btn">
    <button id="start-btn" class="">
      Start Quiz
    </button>
  </div>
</main>

<script src="/javascript/quiz.js"></script>