<h1>JAVASCRIPT QUIZ</h1>

    <main class="">
      <div class="">
        <br /><br />

        <p
          class="
          "
        >
          Click Start Quiz when you are ready! 
        </p>
      </div>

      <div class="">
        <button
          id="start-btn"
          class=""
        >
          Start Quiz
        </button>
      </div>
    </main>


<script src="/javascript/quiz.js"></script>
