// Universal Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

a, a::after, a:hover, a::before {
    text-decoration: none;
    list-style: none;
}

// Flexbox Styles
.flex {
    display: flex;

    &-jc-c {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-ai-c {
        align-items: center;
    }
}