.hero {

    &-message {
        position: static;
        padding: 10px;
        font-size: $font-xlrg;
        bottom: -25px;
    }

    &-box {
        display: flex;
        justify-self: center;
        align-self: center;
    }

    &-wrapper {
        background-color: $midBlueGreen;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 100px;
        width: 50%;
        height: 100%;
        border: 2px solid red;
    }
}