/* Root Styles and Color Variables */
:root {
  --primary-color: #e8d3a3;
  --secondary-color: #ffa633;
  --trimester-color: #3b5a9d;
  --bg-color: #ffdae0;
  --fourth-color: #4fb2aa;
}

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a::before,
a::after {
  text-decoration: none;
  list-style: none;
}

/* Homepage Message Styling */
.homepage-message {
  padding: 12px;
  height: 100%;
  width: 25%;
  margin: 10px auto;
  font-size: 28px;
  color: var(--trimester-color);
  box-shadow: -8px 0px 8px #000000;
  background-color: var(--bg-color);
}

/* Header/Nav-bar */
.welcome-banner {
  font-size: 30px;
  margin: auto auto;
  padding: 5px;
  text-align: center;
}

.welcome-banner a {
  color: var(--trimester-color);
}

.nav-bar {
  background-color: var(--fourth-color);
  color: var(--trimester-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.nav-bar a {
  font-size: 22px;
  color: var(--trimester-color);
}

.nav-bar a:hover {
  text-decoration: underline;
}

.btn-no-style {
  background-color: var(--fourth-color);
  color: var(--trimester-color);
  font-size: 22px;
  border: none;
}

/* About Section */
.concept-content-wrapper {
  width: 100%;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.concept-content {
  box-shadow: -8px 0px 8px #000000;
  background-color: var(--bg-color);
  padding: 5px;
}

.concept-content h2 {
  color: var(--trimester-color);
  font-size: 26px;
}

.concept-content p {
  color: var(--trimester-color);
  font-size: 20px;
  padding: 5px;
}

.user-story-wrapper {
  list-style: none;
  box-shadow: -8px 0px 8px #000000;
  background-color: var(--bg-color);
  text-align: center;
  padding: 5px;
  width: 100%;
}

.user-story {
  margin: 0 auto;
  display: table;
  width: 100%;
}

.user-story ol {
  color: var(--trimester-color);
  font-size: 22px;
  font-weight: 600;
}

.user-story li {
  font-size: 20px;
  color: var(--trimester-color);
}

.founders-story-wrapper {
  box-shadow: -8px 0px 8px #000000;
  background-color: var(--bg-color);
}

.founders-story {
  font-size: 20px;
  text-align: center;
  color: var(--trimester-color);
  padding: 2px;
}

.founders-story h2 {
  font-size: 26px;
  color: var(--trimester-color);
  padding: 2px;
  font-weight: 600;
}

/* Future Developments Styling */
.future-content-wrapper {
  display: table;
  margin: 0 auto;
  text-align: center;
  box-shadow: -8px 0px 8px #000000;
  background-color: var(--bg-color);
  color: var(--trimester-color);
}

.future-content h2 {
  font-size: 26px;
  padding: 2px;
}

.future-content ol {
  font-size: 22px;
  padding: 5px;
}

.future-content li {
  font-size: 20px;
  padding: 2px 8px;
}

.future-content li:last-child {
  padding: 5px;
}

/* Contact Section */
.contact-wrapper {
  display: table;
  margin: 0 auto;
  width: 100%;
}

.secondary-content {
  box-shadow: -8px 0px 8px #000000;
  background-color: var(--bg-color);
  text-align: center;
  padding: 5px;
  display: table;
  margin: 0 auto;
}

.secondary-content h2 {
  color: var(--trimester-color);
  font-size: 24px;
}

.secondary-content h4 {
  color: var(--fourth-color);
  font-size: 22px;
  padding: 5px;
}

.secondary-content p {
  color: var(--trimester-color);
  font-size: 20px;
  padding: 5px;
}

/* Hero Section */
.topic-text {
  font-size: 40px;
  text-align: center;
  margin: 15px;
  text-decoration: underline;
}

.topic-text p {
  color: var(--trimester-color);
}

.content-options {
  padding: 10px 5px;
  margin: 15px;
  text-align: center;
  font-size: 25px;
}

.content-options a {
  margin: 5px;
  font-size: 60px;
  color: var(--trimester-color);
  text-align: center;
}

/* js-main.handlebars Styling */
.main-title h1 {
  color: var(--trimester-color);
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}

.universe-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* JavaScript "View Resources" Link */
.resources-column {
  background-color: var(--primary-color);
  height: 100%;
}

.resources-column a {
  color: var(--secondary-color);
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.resources-column:hover {
  opacity: 0.75;
  text-decoration: underline;
}

/* JavaScript "Take A Quiz" Link */
.quiz-column {
  background-color: var(--bg-color);
  height: 100px;
}

.quiz-column a {
  color: var(--trimester-color);
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.quiz-column:hover {
  opacity: 0.75;
  text-decoration: underline;
}

/* js.handlebars Styling */
.js-handle-title {
  text-align: center;
  font-size: 30px;
  color: var(--trimester-color);
  text-decoration: underline;
}

.post {
  margin: 25px 25px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  box-shadow: -8px 0px 8px #000000;
  background-color: var(--bg-color);
}

.post:hover {
  text-decoration: underline;
  opacity: 0.75;
}

/* JavaScript Quiz Page Styling */
.js-quiz-header {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  color: var(--trimester-color);
}

.js-quiz-text {
  font-size: 26px;
  color: var(--trimester-color);
  text-decoration: underline;
  text-align: center;
}

.js-quiz-start-btn {
  text-align: center;
}

/* Profile and Login Page Styles */
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

button {
  background-color: var(--fourth-color);
  border: 0;
  padding: 1%;
  color: var(--trimester-color);
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

/* Footer */
.footer {
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  background-color: var(--fourth-color);
  color: var(--trimester-color);
}

.external-link {
  color: var(--fourth-color);
}

.internal-link {
  color: var(--trimester-color);
}

.resource-link {
  width: 500px;
}

.post-text {
  text-align: center;
}

.comment-form {
  text-align: center;
}

.new-post-form {
  text-align: center;
}

.comments {
  text-align: center;
}

.login-form {
  text-align: center;
}

.signup-form {
  text-align: center;
}